<div>
     <div *ngIf="!_auth.getUser()">
     
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="#">{{title}}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>        
        </nav>
        
   </div>
   <div *ngIf="_auth.getUser()">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="#">{{title}}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>          
          </button>        
          <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['/user/gold']" routerLinkActive="router-link-active" >Gold</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/user/house']" routerLinkActive="router-link-active" >House</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/user/land']" routerLinkActive="router-link-active" >Land</a>
                </li>
                
              </ul>
              <ul class="navbar-nav ml-auto nav-flex-icons">
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-default"
                    aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" href="#">{{_auth.getUser().username}}</a>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
              </ul>
            </div>
        </nav>
        
   </div>
</div>