<div class="login">
    <!-- Default form login -->
    
    <form class="text-center border border-light p-5" #login="ngForm" (submit)="submitData()">
        {{login.value | json}}
    <p class="h4 mb-4">Sign in</p>
    <!-- Email -->
    <input type="text" class="form-control mb-4" name="username" ngModel placeholder="Enter Username" [(ngModel)]="user.username">
    <!-- Password -->
    <input type="password" name="password"  class="form-control mb-4" ngModel placeholder="Enter Password" [(ngModel)]="user.password">
    <div class="d-flex justify-content-around">
        <div>           
        </div>       
    </div>
    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>  
    <p>New user?
        <a [routerLink]="['/registration']" routerLinkActive="router-link-active">signup!!!!</a>
    </p>

</form>
<!-- Default form login -->
</div>