<div>
        <a class="btn btn-pink" [routerLink]="['/admin/gold-reg']" routerLinkActive="router-link-active">
                <i class="fas fa-clone left"></i> 
                Add Gold
        </a>
        <a class="btn btn-pink" [routerLink]="['/admin/land-reg']" routerLinkActive="router-link-active">
                <i class="fas fa-clone left"></i> 
                Add Land
        </a>
        <a class="btn btn-pink" [routerLink]="['/admin/house-reg']" routerLinkActive="router-link-active">
                <i class="fas fa-clone left"></i> 
                Add House
        </a>
        <a class="btn btn-pink" [routerLink]="['/admin/bid-details']" routerLinkActive="router-link-active">
                <i class="fas fa-clone left"></i> 
                Bid Details  
        </a>
</div>
<router-outlet></router-outlet>        